# THÔNG TIN KẾT NỐI ORACLE DATABASE
ORACLE_USER=db_user
ORACLE_CONN_STR=localhost:1521

# MẬT KHẨU ĐÃ ĐƯỢC MÃ HÓA (sử dụng encryt-pass.js để tạo mật khẩu mã mã hóa)
ORACLE_PASSWORD_ENCRYPTED= 
ORACLE_CLIENT_PATH=C:\\oracle\\instantclient_19_30

# KHÓA BÍ MẬT ĐỂ GIẢI MÃ (Hãy đổi chuỗi này thành chuỗi bí mật của riêng bạn)
DB_CRYPTO_SECRET=SECRET_KEY
# Đường dẫn thư mục lấy file pdf , chèn chữ ký vào file PDF và lưu lại chữ ký.
UPLOAD_DIR=E:\ERP_Picture\PER_CONTRACT

#User và pass để log vào mail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=123
EMAIL_SECURE=TRUE
EMAIL_USER=abc@123@gmail.com
EMAIL_PASSS=abc@123



#Thiết lập domain URL
NEXT_PUBLIC_APP_URL=